In [ ]:
print('hello, world')

hello, world

In [ ]:
# programa 2
a = '9'
b = '10'
resultado = a < b
print(resultado)

False

In [ ]:
## programa 3
a = 100
b = 20
resultado = a * b
print(resultado)

2000

In [ ]:
## programa 4
precos = {
    'celular': 1500,
    'computador': 5000,
    'tablet':2000,
}
for item in precos:
  print(item)

celular
computador
tablet

In [ ]:
## programa 4
precos = {
    'celular': 1500,
    'computador': 5000,
    'tablet':2000,
}
for item in precos:
  print(precos[item])

1500
5000
2000

In [ ]:
## calculadora Adição
number_1 = int(input('Enter your first number:'))
number_2 = int(input('enter your second number:'))

print(number_1 + number_2)

Enter your first number:28
enter your second number:02
30

In [ ]:
## calculadora Subtração
number_1 = int(input('Enter your first number:'))
number_2 = int(input('enter your second number:'))

print(number_1 - number_2)

Enter your first number:22
enter your second number:03
19

In [ ]:
## calculadora Multiplicação
number_1 = int(input('Enter your first number:'))
number_2 = int(input('enter your second number:'))

print(number_1 * number_2)

Enter your first number:22
enter your second number:02
44

In [ ]:
## calculadora Divisão
number_1 = int(input('Enter your first number:'))
number_2 = int(input('enter your second number:'))

print(number_1 / number_2)

Enter your first number:29
enter your second number:23
1.2608695652173914

In [ ]:
## Aplicando conjunto (sets) em Python
planeta_anao = {'plutao','ceres','eris','haumea','makemake'}
planeta_ss = {'saturno','jupter','venus'}
print(planeta_anao)

{'haumea', 'plutao', 'eris', 'ceres', 'makemake'}

In [ ]:
## Aplicando conjunto (sets) em Python
planeta_natalia= {'plutao','ceres','eris','haumea','makemake'}
planeta_ss = {'saturno','jupter','venus'}
print(planeta_natalia)

{'haumea', 'plutao', 'eris', 'ceres', 'makemake'}

In [ ]:
## Exemplo de criação de sets com elementos repetido (distintos)
numeros = [1, 2, 2, 3, 3, 3]
numeros_distintos = set ()
for num in numeros:
  numeros_distintos.add(num)
print("números: ", numeros)
print("números distintos: ", numeros_distintos)

números:  [1, 2, 2, 3, 3, 3]
números distintos:  {1, 2, 3}

In [ ]:
## Quantidade de elementos dos sets
planetas_anao = ('plutao' , 'ceres' , 'eris' , 'haumea' , 'makemake')
print(planetas_anao)
qtde_planetas = len(planeta_anao)
print(qtde_planetas)

('plutao', 'ceres', 'eris', 'haumea', 'makemake')
5

In [ ]:
## Comparando sets
planetas1 = {'terra' , 'venus' , 'mercurio' , 'marte'}
planetas2 ={'terra' , 'venus' , 'mercurio' , 'marte' , 'saturno'}
print(planetas1 == planetas2)
print(planetas1 != planetas2)

False
True

In [ ]:
## uniao de sets
planetas1 =  {'venus' , 'marcurio' , 'terra' , 'netuno' , 'marte'}
plnetas2 = {'terra' , 'jupiter' , 'urano' , 'saturno' , 'marte'}
print(planetas1 | planetas2)
print(planetas1.union(planetas2))

{'marte', 'netuno', 'mercurio', 'terra', 'marcurio', 'saturno', 'venus'}
{'marte', 'netuno', 'mercurio', 'terra', 'marcurio', 'saturno', 'venus'}

In [ ]:
## interceção de conjuntos
planetas1 = {'venus',  'marcurio' , 'terra' , 'netuno' , 'marte'}
planetas2 = {'terra' , 'jupiter' , 'urano' , 'saturno' , 'marte'}
print(planetas1 & planetas2)
print(planetas1.intersection(planetas2))

{'marte', 'terra'}
{'marte', 'terra'}

In [ ]:
## interceção de conjuntos
planetas1 = {'venus',  'marcurio' , 'terra' , 'netuno' , 'marte'}
planetas2 = {'terra' , 'jupiter' , 'urano' , 'saturno' , 'marte'}
print(planetas1 - planetas2)
print(planetas1.difference(planetas2))

{'netuno', 'marcurio', 'venus'}
{'netuno', 'marcurio', 'venus'}

In [ ]:
## adicionar e remove elementos em um conjunto
planetas = {'mercurio', 'venus' , 'terra', 'marte'}
planetas.add('jupite')
planetas.add('marte') 
print(planetas, end=' ')
print(planetas, end=' ')
planetas.discard('terra')
print(planetas, end=' ')

{'marte', 'mercurio', 'terra', 'jupite', 'venus'} {'marte', 'mercurio', 'terra', 'jupite', 'venus'} {'marte', 'mercurio', 'jupite', 'venus'}

In [ ]:
## pertinencia
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = {2, 4, 6, 8}
1 in a

True

In [ ]:
## pertinencia
a = {1, 2, 3, 5}
b = {3, 4, 5, 9}
c = {2, 4, 6, 10}
1 in a

True

In [ ]:
## inclusao
a = {1, 2, 3, 4}
b = {3, 5}
c = {2,3}
c.issubset(a)

True

In [ ]:
## programa final da aula de hoje
print("goodbye, world")

goodbye, world